body {
    margin: auto;
    display: flex;
    flex: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-flow: column;
    padding: 50px;
    background-color: khaki;
}

.options{
    width: auto;
    border-radius: 10px;
    display: inline-flex;
    border-color: black;
    border-style:double;
    margin: 10px;
    padding: 5px;
}
.options > *{
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: lightsalmon;
    border-color: lightseagreen;
    border-width: 3px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    border-style: ridge;
    display: inline-flexbox;
}
.options > *:hover{
    background-color: #4CAF50; /
    color: white;
  }
  .options > *:focus{
      outline: none;
  }
  
  #colorpicker{
    background-color:black;
    padding: 10px;
    border-radius: 0;
    
  }

.container{
    border-style: outset;
    border-color: aqua;
    width: 600px;
    height: 600px;
}
.container > div{
    background-color:grey
}
